# Ignore the virtual environment folder
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore config files for deployment or specific IDEs
*.env    # Environment files with sensitive info, if any
.vscode/ # VS Code settings folder
.idea/   # IntelliJ IDEA settings folder

# Ignore files related to dependencies
*.egg-info/
